<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dn8cyg9bt/image/upload/v1595430312/IMG-0068-5_m9npap.jpg);">
  <div class="container">
    <h1>Marie et Pascal vous accueillent à <strong>Clécy</strong> !</h1>
    <p>Le Domaine de Cantelou, un ancien monastère rénové au cœur de la Suisse Normande.</p>
    <a class="btn btn-flat" href="#">Réserver</a>
  </div>
</div>
